{% extends 'base/base.html' %}
{% load static %}
{% load socialaccount %}



{% block title %} Login{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static '/base/css/style.css' %}">

<link rel="stylesheet" type="text/css" href="{% static '/authentication/css/account.css' %}">

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

{% endblock stylesheet %}




{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">

                    <div class="p-4 p-md-6 ">

                        <h5 class="card-title text-center">Sign In</h5>

                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                <li> {{ error }}</li>
                                {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        <form class="form-signin" method="post" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            {% for field in form %}
                            {% if field.name == 'login' %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                            </div>
                            {% endif %}
                            {% if field.name == 'password' %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                            </div>
                            {% endif %}

                            {% if field.name == 'remember' %}
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                {{field}}
                                <label class="form-check-label" for="{{ field.id_for_label }}">
                                    {{field.label}}
                                </label>
                            </div>
                            {% endif %}



                            {% endfor %}

                            <!-- {{form.as_p}} -->


                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign
                                in</button>
                            <hr class="my-4">
                            <a href="{% provider_login_url 'google'%}?next=/"
                                class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                                    class="fab fa-google mr-2"></i> Sign in with Google</a>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                                    class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>

                            <p class="text-center mt-4 mb-4">Don't have account ? <a
                                    href="{% url 'account_signup' %}">Sign up</a></p>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}



    {% block javascript %}
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    {% endblock javascript %}