{% extends 'base/base.html' %}
{% load static %}


{% block title %} Registration{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static '/base/css/style.css' %}">

<link rel="stylesheet" type="text/css" href="{% static '/authentication/css/account.css' %}">

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

{% endblock stylesheet %}




{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>

            {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <li> {{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            
            <form class="form-signin" method="post" action="{% url 'account_signup' %}">

              {% csrf_token %}


            
              
              
              {% for field in form %}
              
              {% if field.name == "full_name" %}
              <div class="form-label-group">
                {% comment %} <label for="fullname">Full Name</label> {% endcomment %}
                {{field}}
                
              </div>
              {% endif %}

              {% if field.name == "email" %}
              <div class="form-label-group">
                  {{field}}
              </div>
              {% endif %}


              
              {% if field.name == "password1" %}
              <div class="form-label-group">

                {{field}}
              </div>
              {% endif %}


               
              {% if field.name == "password2" %}
              <div class="form-label-group">

                {{field}}
              </div>
              {% endif %}


                
                
              
              {% endfor %}
      
              
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign Up with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign Up with Facebook</button>

              <p class="text-center mt-4 mb-4">Already have account ? <a href="{% url 'account_login' %}">Login</a></p>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
    


{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock javascript %}s